body{
    margin: 0;
}
nav{
    padding: 20px;
}
nav button{
    margin-bottom: 10px;
}
.jumbotron{
    height: 400px;
    background-image: url('https://picsum.photos/1920/1080');
    margin-bottom: 25px;
}
.jumbotron div{
    height: 100%;
    width: 100vw;
    color: aliceblue;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-shadow: 1px 3px 2px black;
}
.first_section, .second_section{
    margin-top: 50px;
}
.col_content{
    background-color: #b6b6b6;
    padding: 20px;
}
.col_title{
    font-size: 18px;
    font-weight: bold;
    color: #5c5c5c;
}
.col_text{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.col-sm{
    margin-bottom: 20px;
}
.col-sm button{
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.botao button{
    margin: 0;
}
.formulario{
    padding: 50px;
    max-width: 750px;
}
.formulario input[type="submit"]{
    padding-left: 20px;
    margin-top: 10px;
    padding-right: 20px;
}
.form_section{
    background-image: url('https://picsum.photos/1920/1080');
}
.form_section h2{
    color: #ffffff;
    text-align: center;
    text-shadow: 1px 3px 2px black;
    font-size: 30px; 
    font-weight: lighter;
}
.form_text{
    color: #000000;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 1px 2px #ffffff;
}
.third_section .col-sm{
    margin-right: 20px;
}
.footer{
    padding: 150px 0px 150px 0px;
    text-align: center;
}
.footer_title{
    color: #5c5c5c;
    font-style: italic;
    font-size: 55px;
    margin-bottom: 20px;
}
.footer_quote{
    font-size: 35px;
    color: #999999;
}
footer{
    padding: 10px;
    border-top: 1px solid #999999;
    text-align: center;
    font-size: 12px;
}